<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span
                    th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img th:src="@{${#authentication.principal.getAvatarPath()}}"
                         class="avatar img-circle img-thumbnail" alt="avatar" width="192px">
                    <h6>Поставете линк към изображение, за да смените аватара си</h6>
                    <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
                        <input class="form-control input-sm" type="url" id="avatarPath" name="avatarPath">
                        <p>
                        <p>
                        <p>
                            <button class="btn btn-sm btn-success" type="submit"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save
                            </button>
                    </form>
                </div>
                </hr><br>


<!--                <div class="panel panel-default">-->
<!--                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>-->
<!--                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>-->
<!--                </div>-->


<!--                <ul class="list-group">-->
<!--                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>-->
<!--                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125-->
<!--                    </li>-->
<!--                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>-->
<!--                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>-->
<!--                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78-->
<!--                    </li>-->
<!--                </ul>-->


            </div><!--/col-3-->
            <div class="col-sm-9">

                <th:block th:include="~{fragments/user-panel-navi}"/>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <!-- инфо за фирмата -- старт -->
                        <div class="form-group">
                            <h4>Име на фирмата:</h4> <span th:text="${companyInfo.name}"></span>
                            <p>
                            <h4>Описание на фирмата:</h4> <span th:text="${companyInfo.description}"></span>
                            <p>
                            <h4>Телефон за връзка:</h4> <span th:text="${companyInfo.phoneNumber}"></span>
                            <p>
                            <h4>Брой работници:</h4> <span th:text="${companyInfo.numberOfWorkers}"></span>
                            <p>
                            <h4>Брой офиси:</h4> <span th:text="${companyInfo.numberOfOffices}"></span>
                            <p>
                            <h4>Моментен доход:</h4> <span th:text="${companyInfo.income}"></span> лв.
                            <p>
                            <h4>Чиста печалба:</h4> <span th:text="${companyInfo.profit}"></span> лв.
                            <!-- инфо за фирмата - край -->
                            <hr>
                            <h4 style="color: #BF2E2E;">Заинтересован си от фирмата? Кандидатствай! :) Прикачи
                                CV/портфолио:</h4>
                            <form action="/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <input type="file" class="form-control" required="required" name="files" id="files"
                                           accept=".pdf,.docx"/>
                                    <h6>
                                        <small>* ВАЖНО: Форматът на изпратеното от Вас CV, трябва да бъде във формат
                                            (<u>.pdf</u>) или (<u>.docx</u>)
                                        </small>
                                    </h6>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Мотивационно писмо" required="required"
                                              style="width: 100%; height: 150px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" required name="candidateTelephoneNum"
                                           id="candidateTelephoneNum" placeholder="Телефон за връзка...">
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" required> Запознат съм с дейността и условията на труд на
                                    фирмата!
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit"><i
                                                class="glyphicon glyphicon-ok-sign"></i> Save
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--/tab-pane-->

                </div><!--/tab-content-->

            </div><!--/col-9-->
        </div><!--/row-->
</th:block>