<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1></div>

        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload ">
                </div></hr><br>


                <div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                </ul>



            </div><!--/col-3-->
            <div class="col-sm-9">

                <th:block th:include="~{fragments/user-panel-navi}"/>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <!-- инфо за фирмата -- старт -->
                        <div class="form-group">
                            <h4>Име на фирмата:</h4> <span th:text="${companyInfo.name}"></span>
                            <p>
                            <h4>Описание на фирмата:</h4> <span th:text="${companyInfo.description}"></span>
                            <p>
                            <h4>Брой работници:</h4> <span th:text="${companyInfo.numberOfWorkers}"></span>
                            <p>
                            <h4>Брой офиси:</h4> <span th:text="${companyInfo.numberOfOffices}"></span>
                            <p>
                            <h4>Първоначална инвестиция:</h4> <span th:text="${companyInfo.investment}"></span>
                            <p>
                            <h4>Моментен доход:</h4> <span th:text="${companyInfo.income}"></span>
                            <p>
                            <h4>Чиста печалба:</h4> <span th:text="${companyInfo.profit}"></span>
                        <!-- инфо за фирмата - край -->
                        <hr>
                            <h4 style="color: #BF2E2E;">Заинтересован си от фирмата? Кандидатствай:</h4>
                            <form action="/upload" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Мотивационно писмо"  required="required" style="width: 100%; height: 150px;"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-control" required="required" name="files" id="files" accept=".pdf,.docx"/>
                                    <h6 style="color: #BF2E2E;"><small>* ВАЖНО: Форматът на изпратеното от Вас CV, трябва да бъде във формат (.pdf) или (.docx)</small></h6>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!--/tab-pane-->

                </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->




</th:block>