<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span
                    th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img th:src="@{${#authentication.principal.getAvatarPath()}}"
                         class="avatar img-circle img-thumbnail" alt="avatar" width="192px">
                    <h6>Поставете линк към изображение, за да смените аватара си</h6>
                    <form action="/uploadAvatar" method="post" enctype="multipart/form-data">
                        <input class="form-control input-sm" type="url" id="avatarPath" name="avatarPath">
                        <p>
                        <p>
                        <p>
                            <button class="btn btn-sm btn-success" type="submit"><i
                                    class="glyphicon glyphicon-ok-sign"></i> Save
                            </button>
                    </form>
                </div>
                </hr><br>


                <div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125
                    </li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78
                    </li>
                </ul>


            </div><!--/col-3-->
            <div class="col-sm-9">

                <th:block th:include="~{fragments/user-panel-navi}"/>

                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <div th:if="${param.alreadyWorker}">
                            <div class="alert alert-danger">Този потребител вече е нает от друга фирма.</div>
                        </div>
                        <div th:if="${param.notOwner}">
                            <div class="alert alert-danger">Вие нямате фирма, за да използвате тази страница.</div>
                        </div>
                        <div th:if="${param.notYourCompany}">
                            <div class="alert alert-danger">Тази фирма не е ваша, за да гледате приходите ѝ.</div>
                        </div>
                        <div th:if="${param.notYourCompany2}">
                            <div class="alert alert-danger">Тази фирма не е ваша, за да използвате тази страница.</div>
                        </div>
                        <div th:if="${param.noMinusError}">
                            <div class="alert alert-danger">Няма как да сложите отрицателно число.</div>
                        </div>
                        <div th:if="${param.notWorker}">
                            <div class="alert alert-danger">Вие не сте работник, за да използвате тази страница.</div>
                        </div>
                        <div th:if="${param.reportOk}">
                            <div class="alert alert-success">Вашият доклад беше изпратен успешно!</div>
                        </div>
                        <div th:if="${param.notYourWorkSchedule}">
                            <div class="alert alert-danger">Вие не сте работник от тази смяна, за да използвате тази страница.</div>
                        </div>
                        <div th:if="${param.cantEditReport}">
                            <div class="alert alert-danger">Не може да редактирате вече изпратен доклад.</div>
                        </div>
                        <div th:switch="${userInfo.getWorkingStatus()}">
                            <!-- tva e contenta na guestovete -->
                            <span th:case="'guest'">
                            Вашият работен статус вмомента е: <b>гост</b>. Като гост, Вие можете да комуникирате с потребителите
                            посредством <a href="/messages">личните съобщения</a>, както и да разглеждате профилите на всички регистрирани
                                в системата. Можете да промените вашия статус на 'работник', като зададете <a
                                    href="/company-list">някоя от регистрираните фирми</a> за ваше работно
                            място. Също така статусът Ви може да стане на 'Собственик', като регистрирате някоя фирма в системата от менюто по-долу.
                                <!--                                Тука тряа да сложа линк на 'някоя от регистрираните фирми' към страница със всички регистрирани фирми в системата-->
                                <!-- форма за регистриране на нова фирма - СТАРТ -->
                            <hr>
                            <h2 style="color: #BF2E2E;">Регистрирай твоята фирма СЕГА:</h2>
                            <p>
                            <p>
                            <form class="form" th:action="@{/company-home}" th:field="newcompany" method="post">
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="name"><h4>Име на фирмата:</h4></label>
                                        <input type="text" class="form-control" required name="name" id="name" value=""
                                               placeholder="Въведете име на фирмата">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="description"><h4>Описание:</h4></label>
                                        <!--                                        <input type="text" class="form-control" required name="description" id="description" value="" title="Въведете описание на фирмата (напр. тип на бизнеса)" >-->
                                        <textarea class="form-control"
                                                  placeholder="Въведете описание на фирмата (напр. тип на бизнеса)"
                                                  rows="5" cols="5" name="description" id="description"
                                                  required></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="investment"><h4>Начално вложение:</h4></label>
                                        <input type="number" class="form-control" name="investment" required
                                               id="investment" value=""
                                               placeholder="Въведете началното вложение, което сте направили във фирмата">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <label for="income"><h4>Моментен доход:</h4></label>
                                        <input type="number" class="form-control" name="income" required id="income"
                                               value=""
                                               placeholder="Въведете дохода, който фирмата е генерирала до момента">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <button class="btn btn-lg btn-success" type="submit"><i
                                                class="glyphicon glyphicon-ok-sign"></i> Добави фирмата
                                        </button>
                                        <button class="btn btn-lg" type="reset"><i
                                                class="glyphicon glyphicon-repeat"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                                <!-- форма за регистриране на нова фирма - край -->
                            </span>
                            <!-- tva e contenta na ownerite -->
                            <span th:case="'owner'">
                            Вашият работен статус вмомента е: <b>собственик</b>. Това е вашата фирма:
                            <p>
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Име</th>
                                                <th scope="col">Описание</th>
                                                <th scope="col">Брой работници</th>
                                                <th scope="col">Брой офиси</th>
                                                <th scope="col">Печалба</th>
                                                <th scope="col">Опции</th>
                                            </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="company : ${usercompanies}">
<!--                                                <td th:text="${company.name}">Име</td>-->
                                                <td><a th:href="@{/company-page(id=${company.id})}"
                                                       th:text="${company.name}">Име</a></td>
                                                <td th:text="${company.description}">Описание</td>
                                                <td th:text="${company.numberOfWorkers}">Брой работници</td>
                                                <td th:text="${company.numberOfOffices}">Брой офиси</td>
                                                <td th:text="${company.profit}">лв</td>
                                                <td><a th:href="@{/edit-company(id=${company.id})}"><img
                                                        src="images/delete.png" width="25px" onclick="deleteCompany()" title="Закрий фирмата..."/> </a></td>
                                        </tr>
                                                                    <script>
                                function deleteCompany() {
                                    confirm("Сигурни ли сте, че искате да закриете фирмата?");
                                }
                                </script>
                                    </tbody>
                                </table>
                            </span>
                            <!-- Tva e content-a na rabotnicite -->
                            <span th:case="*">
                                Вашият статус: работник във фирма "<b><a th:href="@{/company-page(id=${workerInfo.getCompany().getId()})}"><span
                                    th:text="${workerInfo.getCompany().getName()}"></span></a></b>", на позиция "<b><span
                                    th:text="${workerInfo.getPosition()}"></span></b>". След края на смяната трябва да попълните
                                отчет на съвршеното през смяната. Това става чрез опцията "<b>Отчети смяна</b>", като
                                отчетът трябва да бъде извършен до края на денонощието, след което опцията се затваря.
                                <div th:switch="${myWorkSchedulesCounter}">
                                    <span th:case="'0'">
                                        <hr>
                                        Няма регистрирани налични смени.
                                    </span>
                                    <span th:case="*">
                                        <hr>
                                        <h4 style="color: #BF2E2E;">Вашите последни смени:</h4>
                                        <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Смяна №</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Статус</th>
                                    <th scope="col">Опции</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="smqna : ${myWorkSchedule}">
                                    <td th:text="${smqna.getId()}">Смяна НО</td>
                                    <td th:text="${smqna.getDate()}">Дата</td>
                                    <div th:switch="${smqna.isWorkerDone()}">
                                        <span th:case="true">
                                            <td><span style="color:#28A745;">Приключена</span></td>
                                        </span>
                                        <span th:case="false">
                                            <td>Не приключена</td>
                                        </span>
                                    </div>
                                    <div th:switch="${smqna.getDate()}">
                                        <span th:case="${#dates.format(#dates.createNow(),'YYYY-MM-dd')}">
                                        <div th:switch="${smqna.getDate()}">
                                        <span th:case="${#dates.format(#dates.createNow(),'YYYY-MM-dd')}">
                                            <div th:switch="${smqna.isWorkerDone()}">
                                                <span th:case="true"><td><a th:href="@{/report-view(id=${smqna.getId()})}">Преглед на отчета</a></td></span>
                                                <span th:case="*"><td><a th:href="@{/work-schedule-report(id=${smqna.getId()})}">Отчети смяната</a></td></span>
                                            </div>
                                        </span>
                                        <span th:case="*">
                                            <td></td>
                                        </span>
                                        </div>
                                        </span>
                                        <span th:case="*">
                                            <td></td>
                                        </span>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                                        <small>* На таблицата се показват максимално до 12 смени!</small>
                                    </span>
                                </div>
                                <hr>
                                <div th:switch="${salariesCounter}">
                                    <span th:case="'0'">
                                        Вие нямате изплатени заплати до този момент.
                                    </span>
                                    <span th:case="*">
                                        <h4 style="color: #BF2E2E;">Вашите последни 12 заплати:</h4>
                                        <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Фиш №</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Изкарани смени</th>
                                    <th scope="col">Дневно заплащане в лв.</th>
                                    <th scope="col">Обща сума в лв.</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="salary : ${lastSalaries}">
                                    <td th:text="${salary.getId()}">фиш НО</td>
                                    <td th:text="${salary.getDate()}">Дата</td>
                                    <td th:text="${salary.getWorkedDays()}">смени</td>
                                    <td th:text="${salary.getPaycheckPerDay()}">дневно</td>
                                    <td th:text="${salary.getSalarySum()}">сума</td>

                                </tr>
                                </tbody>
                            </table>
                                         <small>* На таблицата се показват макс. последните Ви 12 заплати!</small>
                                    </span>
                                </div>
                            </span>
                            <hr>
                        </div>
                    </div>


                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


</th:block>