<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span
                    th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-9">
                <th:block th:include="~{fragments/user-panel-navi}"/>
                <hr>
                <div class="tab-content">
                    <!-- Hero section start -->
                    <section class="hero-section spad">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="hero-text">
                                                <div th:if="${param.workerUpdated}">
                                                    <div class="alert alert-success">Успешно променихте данните на работника.</div>
                                                </div>
                                                <div th:if="${param.workerDayoffAdded}">
                                                    <div class="alert alert-success">Успешно добавихте почивни/болнични дни на работника.</div>
                                                </div>
                                                <h2><span th:text="${userinfo.getFirstName()}"></span> <span
                                                        th:text="${userinfo.getLastName()}"></span></h2>
                                                <p><span th:text="${userinfo.getDescription()}"></span></p>
                                            </div>
                                            <div class="hero-info">
                                                <ul>
                                                    <li><span>Възраст: </span> <span
                                                            th:text="${userinfo.getAge()}"></span>г.
                                                    </li>
                                                    <li><span>E-mail: </span> <span
                                                            th:text="${userinfo.getEmail()}"></span></li>
                                                    <li><span><a th:href="${userinfo.getFacebookPage()}"><img
                                                            src="images/fbico.png"
                                                            width="12px"/> Facebook профил</a></span></li>
                                                    <li>
                                                        <div th:switch="${userinfo.getWorkingStatus()}">
                                                            <span th:case="'guest'">Статус: гост</span>
                                                            <span th:case="'owner'">Собственик на фирма <b><a
                                                                    th:href="@{/company-page(id=${companyDetails.getId()})}"><span
                                                                    th:text="${companyDetails.getName()}"></span></a></b></span>
                                                            <span th:case="'worker'">Работник във фирма <b><a
                                                                    th:href="@{/company-page(id=${companyDetails.getId()})}"><span
                                                                    th:text="${companyDetails.getName()}"></span></a></b></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure class="hero-image">
                                                <img th:src="${userinfo.getAvatarPath()}" class="img-thumbnail" alt="5"
                                                     width="250px">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <form action="/user-page" method="post">
                            <div class="col-xs-6">
                                <h4>Променете позицията на работника:</h4>
                                <input type="text" class="form-control" required name="position" id="position"
                                       th:value="${workerDetails.getPosition()}"
                                       title="Въведете нова позиция на работника">
                            </div>
                            <div class="col-xs-6">
                                <h4>Променете заплатата на работника:</h4>
                                <input type="number" class="form-control" required name="salary" id="salary"
                                       th:value="${workerDetails.getSalary()}"
                                       title="Въведете нова позиция на работника">
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Запази
                                    </button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <form action="/add-dayoff" method="post">
                            <div class="col-xs-6">
                                <h4>Добавете дни като платен отпуск или болничен:</h4>
                                <input type="number" class="form-control" required name="monthWorkedDays"
                                       id="monthWorkedDays"
                                       title="Въведете нова позиция на работника">
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <div class="alert alert-info">Стойността на цифрата, която въведете горе, ще бъде
                                        зададена
                                        като платени изработени дни във текущия месец.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-primary" type="submit"><i
                                            class="glyphicon glyphicon-ok-sign"></i> Запази
                                    </button> <a th:href="@{/fire(id=${workerDetails.getId()})}" onclick="fireUser()" class="btn btn-lg btn-danger">Уволни работника</a>
                                </div>
                            </div>
                        </form>
                        <script>
                            function fireUser() {
                                confirm("Сигурни ли сте, че искате да уволните работника?");
                            }
                        </script>
                    </section>
                    <!-- Hero section end -->
                </div><!--/tab-pane-->
            </div><!--/tab-content-->
        </div><!--/col-9-->
    </div><!--/row-->


</th:block>