<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1></div>

        </div>

        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    <h6>Upload a different photo...</h6>
                    <input type="file" class="text-center center-block file-upload ">
                </div></hr><br>


                <div class="panel panel-default">
                    <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                    <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                </div>


                <ul class="list-group">
                    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                    <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                </ul>



            </div><!--/col-3-->
            <div class="col-sm-9">

                <th:block th:include="~{fragments/user-panel-navi}"/>

                <div th:if="${param.success}">
                    <div class="alert alert-info">You've successfully sended pm!</div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <hr>
                        <!-- text form start -->
                        <div class="container contact-form">
                            <form th:action="@{/new-message}" method="post" th:object="${newmsg}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" th:field="*{messageSubject}" placeholder="Тема на съобщението..." required="required" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" th:field="*{userRecipient}" placeholder="Email потребител..." required="required" value="" />
                                        </div>
                                        <div class="form-group">
                                            <div id="senderEmail">
                                            <input type="text" name="userSender" id="userSender" class="form-control" th:value="${#authentication.name}"/>
                                                <input type="text" name="date" id="date" class="form-control" value=""/>
                                                <script>
                                                    n =  new Date();
                                                    y = n.getFullYear();
                                                    m = n.getMonth() + 1;
                                                    d = n.getDate();
                                                    h = n.getHours();
                                                    mins = n.getMinutes();
                                                    if(m<10){
                                                        m2 = "0"+mins;
                                                    } else {
                                                        m2 = mins;
                                                    }
                                                    document.getElementById("date").value = d + "/" + m + "/" + y+", "+h+":"+m2;
                                                </script>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i>Изпрати съобщение</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" th:field="*{messageText}" placeholder="Съобщение"  required="required" style="width: 100%; height: 150px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <script>
                                $(document).ready(function() {
                                    $('#notEmptyForm').bootstrapValidator();
                                });
                            </script>
                        </div>
                        <!-- text form end -->
                        <hr>

                    </div><!--/tab-pane-->

                </div><!--/tab-content-->

            </div><!--/col-9-->
        </div><!--/row-->




</th:block>