<th:block th:fragment>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10" sec:authorize="isAuthenticated()"><h1>Здравейте, <span
                    th:text="${#authentication.principal.getFirstName()}">Welcome to our grocery store!</span>! </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-9">
                <th:block th:include="~{fragments/user-panel-navi}"/>
                <hr>
                <div class="tab-content">
                    <!-- Hero section start -->
                    <section class="hero-section spad">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xl-10 offset-xl-1">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="hero-text">
                                                <h2><span th:text="${userinfo.getFirstName()}"></span> <span
                                                        th:text="${userinfo.getLastName()}"></span></h2>
                                                <p><span th:text="${userinfo.getDescription()}"></span></p>
                                            </div>
                                            <div class="hero-info">
                                                <ul>
                                                    <li><span>Възраст: </span> <span
                                                            th:text="${userinfo.getAge()}"></span>г.
                                                    </li>
                                                    <li><span>E-mail: </span> <span
                                                            th:text="${userinfo.getEmail()}"></span></li>
                                                    <li><span><a th:href="${userinfo.getFacebookPage()}"><img
                                                            src="images/fbico.png"
                                                            width="12px"/> Facebook профил</a></span></li>
                                                    <li>
                                                        <div th:switch="${userinfo.getWorkingStatus()}">
                                                            <span th:case="'guest'">Статус: гост</span>
                                                            <span th:case="'owner'">Собственик на фирма <b><a
                                                                    th:href="@{/company-page(id=${companyDetails.getId()})}"><span
                                                                    th:text="${companyDetails.getName()}"></span></a></b></span>
                                                            <span th:case="'worker'">Работник във фирма <b><a
                                                                    th:href="@{/company-page(id=${companyDetails.getId()})}"><span
                                                                    th:text="${companyDetails.getName()}"></span></a></b></span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <figure class="hero-image">
                                                <img th:src="${userinfo.getAvatarPath()}" class="img-thumbnail" alt="5"
                                                     width="250px">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        ижан
                    </section>
                    <!-- Hero section end -->
                </div><!--/tab-pane-->

            </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->


</th:block>