<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--    <link type="text/css" href="css/style.css" rel="stylesheet" />-->
<!--    <link type="text/css" href="css/text-animation.css" rel="stylesheet" />-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">-->
<!--    <title>HMMS v1.0 ● Начало</title>-->
<!--</head>-->
<head>
<th:block th:include="~{fragments/head}"/>
    <title>HMMS v1.0 ● Информация</title>
</head>
<body>
<!--header start -->
<header>
    <!--Bootstrap start -->

    <th:block th:include="~{fragments/header}"/>
    <!--Bootstrap end -->
</header>
<!-- header end -->
<p>


<!-- user panel start -->
    <th:block th:include="~{fragments/company-details-no-application}"/>
<!--<form class="form" th:action="@{/home}" th:object="${user}" method="post">-->
    <!-- user panel end -->

<!-- footer start -->
<th:block th:include="~{fragments/footer}"/>
<!-- footer end -->
</body>
</html>