<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:include="~{fragments/head}"/>
    <title>HMMS v1.0 ● Създайте смяна</title>
</head>
<body>
<!--header start -->
<header>
    <!--Bootstrap start -->

    <th:block th:include="~{fragments/header}"/>

    <!--Bootstrap end -->
</header>
<!-- header end -->

<p>


    <!-- user panel start -->
    <th:block th:include="~{fragments/user-panel-create-work-schedule}"/>
    <!-- user panel end -->

<!-- footer start -->
<th:block th:include="~{fragments/footer}"/>
<!-- footer end -->

</body>
</html>